# NoneBot 配置
ENVIRONMENT=dev
DRIVER=~fastapi

# OneBot 适配器配置
HOST=0.0.0.0
PORT=your-port
SECRET=your-secret

# 日志配置
LOG_LEVEL=DEBUG

# 机器人配置
SUPERUSERS=["your-admin-qqid"]  # 管理员QQ号
ALLOWED_GROUPS=["allow_use_groupid_1", "allow_use_groupid_2", "allow_use_groupid_..."]  # 允许的群聊群号

# 其他配置
COMMAND_START=["/", ""]  # 命令前缀
COMMAND_SEP=["."]  # 命令分隔符